@use "../abstracts/"as *;

.footer{
    padding: 50% 0 10% 5%;
    width: 100%;
    position: relative;
    @include desktop{
        @include flex($justify:space-between);
        padding: 20% 0 10% 0;
    }
    &__logo{
        @include font($primary-font,18px,$primary-color,700);
        @include tablet{
            @include font($secondary-font,26px,700);
        }
        @include desktop{
            @include font($secondary-font,32px,700);
        }
        position: relative;
        &::after{
            content: "";
            position: absolute;
            border-radius: 3px;
            width: 80%;
            bottom: -30%;
            height: 4px;
            background-color: $secondary-color;
            left: 0;
            @include desktop{
                bottom: 0;
            }
        }
    }
    nav{
        margin-top: 10%;
        @include desktop{
            margin-top: 0;
            align-items: center;
            align-self:center;
        }
        ul{
            @include flex($direction:column);
            @include tablet{
                @include flex($direction:row);
            }
            @include desktop{
                @include flex($direction:row,$align:center,$justify:center);
            }
            li{
                a{
                    @include font($primary-font,14px,500);
                    @include tablet{
                        @include font($primary-font,20px,500);
                    }
                    @include desktop{
                        @include font($primary-font,24px,500);
                    }

                }
               
            }
            li:nth-child(1):after{
                width: 0;
                height: 0;
            }
            li:hover::after{
                width: 0;
                height: 0;
            }
        }
    }
    .icon{
        @include flex();
        margin-top: 5%;
        width: 100%;
        @include desktop{
            margin-top: 0;
            width: 20%;
            @include flex($justify:flex-end);
        }
        figure{
            width: 6%;
            @include tablet{
                width: 5%;
            }
            @include desktop{
                width: 20%;
            }
            img{
                width: 100%;
            }
        }
    }
}