<header class="header">
    <div class="header__top">
        <a href="#" class="header__top--logo">Vaccination.ng</a>
        <nav class="header__top--mobile">
            <ul>
                <include src="./components/navList.html" locals='{
                    "list": [
                        "Home",
                        "Services",
                        "Schedule",
                        "Contact us"
                    ]
                }'>
                </include>
            </ul>
        </nav>
        <button class="header__top--check">
            <a class="header__top--check-text" href="#">Check Status</a>
        </button>
        <button class="header__top--menu">
            <img src="../assets/icons/align-right.svg" alt="menu">
        </button>
    </div>
    <div class="header__bottom">
        <div class="header__bottom--content">
            <div class="text">
                <h3 class="text--secondary--small">
                    Get Vaccinated. Boost your Immune System
                </h3>
                <span>
                    <h1 class="text--primary">
                        COVID-19 Vaccination Got Easier With,
                   
                    <span class="text--secondary">
                        Vaccination.ng
                    </span>
                    </h1>
                </span>
                <p class="text--opacity">
                    Vaccination.ng will help you find the nearest 
                    centre for vaccination, in all 36 states in Nigeria.
                </p>
            </div>  
            <div class="button">
                <button class="button--vaccine">
                    <a class="button--text" href="#">Get Vaccine</a>
                </button>
                <button class="button--center">
                    <a class="button--text" href="#">Help Centre</a>
                </button>
            </div>
        </div>
        <div class="header__bottom--image">
            <figure class="header__bottom--image-figure">
                <img src="../assets/images/groupDoctorDesktop.png" alt="Coronavirus Vaccine">
                <img src="../assets/images/groupDoctorTablet.png" alt="Coronavirus Vaccine">
                <img src="../assets/images/groupDoctorMobile.png" alt="Coronavirus Vaccine">
            </figure>
        </div>
    </div>
</header>