@use "../../abstracts/" as *;

.behavior{
    width: 100%;
    padding: 10% 0 0 0;
    @include flex($direction:column,$justify:center,$align:center);
    gap: 15px;
    @include tablet{
        padding: 8% 0 0 0;
    }
    @include desktop{
        padding: 5% 0 0 0;
    }
    &__content{
        @include flex($direction:column,$justify:center,$align:center);
        gap: 15px;
        text-align: center;
         &__first-title{
            @include font($primary-font,12px,$primary-color,700);
            @include tablet{
                @include font($primary-font,20px,$primary-color,700);
            }
            @include desktop{
                @include font($primary-font,24px,$primary-color,700);
            }
         }
         &__main-title{
            @include font($secondary-font,24px,$primary-color,800);
            @include tablet{
                @include font($secondary-font,36px,$primary-color,800);
            }
            @include desktop{
                @include font($secondary-font,48px,$primary-color,800);
            }
            span{
                color: $secondary-color;
            }
         }
         &__second-title{
            @include font($primary-font,12px,500);
            @include tablet{
                @include font($primary-font,18px,500);
            }
            @include desktop{
                @include font($primary-font,24px,500);
            }
            @include color-text-opacity($number:255,$opacity:0.5);
            width: 90%;
            span{
                display: block;
                @include desktop{
                    display: inline;
                }
            }
         }
    }
    .virusBehaviorImage{
        position: relative;
        width: 100%;
        @include flex($justify:center,$align:center);
        .imageperson--fg{
            z-index: 0;
            width: 225px;
            height: 170px;
            @include tablet{
                width: 460px;
                height: 345px;
            }
            @include desktop{
                width: 710px;
                height: 550px;
            }
            .imageperson--svg{
                width: 100%;
            }
        }
        .virusdescription{
            position: absolute;
            bottom: 10%;
            width: 100%;
            z-index: 2;
            .grid{
             width: 100%;
             @include flex($direction:column,$align:center,$justify:center);
             gap: 10px;
             @include tablet{
                gap:50px;
             }
             @include desktop{
                gap: 100px;
             }
             .divvirus:nth-child(1){
                max-width: 75%;
             }
             .divvirus:nth-child(2){
                max-width: 85%;
             }
             .divvirus:nth-child(3){
                max-width: 95%;
             }
            }
        }
    }
}
